# Порт сервера
PORT=3000

# Режим запуска (development, production)
NODE_ENV=development

# MySQL
DB_HOST=127.0.0.1
DB_NAME=music_store
DB_USER=root
DB_PASSWORD=root

# JWT
JWT_SECRET=change_me_to_a_random_string
JWT_EXPIRES_IN=7d

# VK API
VK_APP_ID=your_app_id_here
VK_APP_SECRET=your_app_secret_here
VK_COMMUNITY_TOKEN=your_community_token_here